<!DOCTYPE html>
<head>
    <title>Django-Vocab-Trainer</title>
    <meta charset="utf-8">
</head>
<body>
    <header>
        <h1>Django-Vocab-Trainer</h1>
        <span id="top-nav">
            <a href="{% url 'accounts:registration_register' %}">Sign up</a>
            <a href="{% url 'accounts:auth_login' %}">Sign in</a>
        </span>
    </header>
    <section>
        <h1>Sign in</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Login" />
        </form>
    </section>
</body>
</html>