<!DOCTYPE html>
<head>
    <title>Django-Vocab-Trainer</title>
    <meta charset="utf-8">
</head>
<body>
    <header>
        <h1>Django-Vocab-Trainer</h1>
        <span id="top-nav">
            <a href="{% url 'accounts:auth_logout' %}">Sign out</a>
        </span>
    </header>
    <section>
        <h1>Your Learn-sets</h1>
        <ul>
            {% for set in sets %}
            <li><a href="{% url 'vocab:training' set.id %}">{{ set.learnset_name }}</a></li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>